/* Space between label and input fields */
.form-group .form-label {
    margin-bottom: 10px; /* Adjust this value as needed */
}

/* Card styling */
.bg-gradient {
    background: linear-gradient(to right, #5F9EA0, #20B2AA) !important;
    border-radius: 10px;
}

/* Section header styling */
.section-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 206, 209);
    margin-bottom: 1px;
}

/* Form field styling */
.form-field {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 20px;
}

/* Submit button styling */
button[type="submit"] {
    background: #A9A9A9;
    color: white;
    border: none;
    transition: background 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background: black;
    cursor: pointer;
}

/* Add spacing between form controls */
.form-control {
    margin-top: 5px; /* Adds space below the label */
    padding: 10px;
}
